body {
  margin: 0;
}

#logo {
  width: auto;
  height: 50px;
  background-repeat: no-repeat;
  background-position: left;
}

p {
  font-size: 1.2em;
}


.search {
  width: auto;
  height: 30px;
  margin-top: 7px;
  background-repeat: no-repeat;
  background-position: left;
}

.nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: #FEF8EC;
}

.navSearch {
  vertical-align: text-bottom;
  vertical-align: top;
}

#dropDown {
  display: none;
  padding: 8px;
}

#dropDown1 {
  display: none;
  padding: 8px;
}

.toggle{
  display: inline-block;
  background-color: #7C9693;
  
}

.toggle1{
  display: inline-block;
  background-color: #7C9693;

}

#dropDown2 {
  display: none;
  padding: 8px;
}

.toggle3{
  display: inline-block;
  background-color: #7C9693;
  
}

#dropDown3 {
  display: none;
  padding: 8px;
}

.toggle2{
  display: inline-block;
  background-color: #7C9693;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: flex-end;
}

a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hero-image {
  background-image: url("../UX_UI_HW_19/images/creation\ of\ adam\ img.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.frosted {
  background-color: rgba(218, 218, 218, 0.5);
  padding: 5px 20px;
  margin-left: 20px;
  display:flex;
}

.hero-text {
  text-align: left;
  color: white;
  position: absolute;
  top: 50%;
}

.button {
  margin-left:10px;
}

.btn {
  background:transparent;
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  outline: 0;
  display: inline-block;
  color: white;
  border-radius: 100%;
  border: 4px solid white;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #555;
  color: black;
}

.fa {
  padding: 8px 8px;
  font-size: 25px;
}

.quote {
  font-family: 'Homemade Apple', cursive;
  font-size: 48px;
  text-align: center;
  background-color: #FEF8EC;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.music {
  width: 300px;
  float: right;
}

.aboutImage {
  width: 600px;
  padding-right: 20px;
  display: inline-block;
}

.about-item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  flex-basis: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align:left;

}

.wwr {
  margin-top: 40px;
}

.wwrText{
  padding: 20px;
}

.about-item>img {
  width: 100%;
}


.about {
  font-size: 16px;
  background-color: #E3D8D1;
  display: flex;
  flex-wrap: wrap;
}

#getInvolved {
  background: RGB(254,248,237);
}

.getInvolved {
  text-align: center;
}

.cards {
  display: flex;
  padding: 20px;
}

.card {
  background-color: #E3D8D1;
  margin-right: 20px;
  cursor: hand;
  box-shadow: 0 4px 8px 0 rgba(14, 14, 14, 0.2);
  transition: 0.3s;
  min-width: 300px;
  max-width: 500px;
  border-radius: 5px;
  margin-bottom: 50px;
  overflow: scroll;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.eventImage {
  width: 400px;
  padding-right: 20px;
  display: inline-block;
}

.event {
  font-size: 16px;
  background-color: #E3D8D1;
  flex-grow: 1;
  flex-shrink: 0;

  flex-basis: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event span {
  text-align: justify;
}

#button {
  background-color: B8655F;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.footer {
  background-color: RGB(254, 248, 237);
}

.footerLogo {
  height: 70px;
  float: left;
}

.footerText {
  display: block;
  text-align: justify;
  background-color: #FEF8EC;
  font-size: 12px;
  line-height: 0.5;
}

.footerLogos {
  display: inline-block;
}

.CA,
.TC,
.NE {
  height: 70px;
  justify-content: left;
}

.list {
  display: flex; 
  justify-content: space-between;
  margin-right: auto;
  padding: 20px;
}

.list2 {
  margin-right: auto;
}

.navList > li {
  display: inline-block;
}